<div class='main'>


  <nav class="navbar navbar-black bg-light left">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="wyszukaj aktora" aria-label="Search">
      <button class="btn btn-outline my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <div>
      <i class="fas fa-theater-masks fa-6x"></i>
  </div>
  <nav class="navbar navbar-light bg-light right">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="wyszukaj spektakl" aria-label="Search">
      <button class="btn btn-outline my-2 my-sm-0" type="submit">Search</button>

    </form>
  </nav>
</div>
<hr>